.create-button{
    background-color: #0983E6;
    border-radius: 15px;
    border-color: transparent;
    padding: 1% 4% 1% 2%;
    color: white;
    font-size: 25px;
    display: flex;
    min-width: 20%;
}

.create-button-text{
    margin-left: 20%;
}

.title{
    font-size: 50px;
    font-weight: bold;
    margin: 3% 0;
}